<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blogger Profile</title>
        <style>
            .user-imge {
                max-width: 12rem;
                max-height: 12rem;
            }

            .password-form {
                display: none;
            }

            .change-btn {
                height: 2rem;
                padding: 0;
                min-width: 6rem;
            }

            .password-a {
                color: #f6f6f65d;
            }

            .input-filed {
                width: 22rem;
            }

            .display {
                padding-inline: 4rem;
                display: grid;
                grid-template-columns: auto auto auto auto;
                justify-content: center;
                row-gap: 5rem;
                column-gap: 3rem;

            }

            .card-img {
                height: 10rem;
                width: 18rem;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.19);
                transition: transform 0.2s;
            }

            .card-styles {
                width: 18rem;
                height: 22rem;
                box-shadow: 0 0 10px rgba(36, 36, 36, 0.655);
                border: none;
            }

            .card-styles:hover {
                transform: scale(1.05);
            }

            .image {
                max-width: 100%;
            }

            .card-title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-height: 1.5em;
            }

            .card-text {
                line-height: 1.6;
                height: 3.6em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }

            .btn {
                margin-top: auto;
            }
        </style>
</head>

<body>
    <%- include('./partials/nav') %>
        <% if (locals.user) { %>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/user/profile/picture"><img class="user-imge" src="/<%= user.profileImage %>"
                                alt="Profile Image" /></a>
                    </div>
                    <div class="col-md-10">
                        <div class="row ">
                            <div class="col-md-1 text-end p-0">
                                <a href="/user/profile/name">Name:</a>
                            </div>
                            <div class="col-md-3">
                                <a href="/user/profile/name">
                                    <%= user.fullname %>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-1 text-end p-0">
                                <a href="/user/profile/email">email:</a>
                            </div>
                            <div class="col-md-2">
                                <a href="/user/profile/email">
                                    <%= user.email %>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-1 text-end p-0">
                                Password:
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-primary m-0 fs-6 change-btn"
                                    onclick="showForm()">change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (locals.blogs) { %>
                <div class="container mt-3" id="my-blogs">
                    <div class="display">
                        <% blogs.forEach(blogs=> { %>
                            <div class="card card-styles bg-dark">
                                <div class="card-img">
                                    <img src="/<%= blogs.coverImage %>" class="image" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= blogs.title %>
                                    </h5>
                                    <p class="card-text">
                                        <%- blogs.summary %>
                                    </p>
                                    <a href="/readblog/<%= blogs._id %>" class="btn btn-primary">Read</a>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <% } %>
            <div class="container bg-dark mt-4 col-md-4 rounded py-4 password-form" id="password-form">
                <form action="/user/profile" method="post">
                    <div class="d-flex flex-column align-items-center">
                        <div>
                            <label for="old_password" class="form-label">Current Password</label>
                            <input type="password" class="form-control input-filed" id="old_password"
                                name="old_password" placeholder="Enter Old Password" required>
                            <p class="float-end"><a href="/profile/forgotpassword" class="password-a">Forgot
                                    Password?</a></p>
                        </div>
                        <div class="mb-5">
                            <label for="new_password" class="form-label">New Password</label>
                            <input type="password" class="form-control input-filed" id="new_password"
                                name="new_password" oninput="validatePassword()" placeholder="Enter New Password"
                                required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control  input-filed" id="confirmPassword"
                                oninput="validatePassword()" placeholder="Confirm Password" required>
                        </div>
                        <input type="hidden" name="email" value="<%= user.email %>">
                        <div id="error-message" class="form-text mb-3"></div>
                        <button type="submit" id="submit" class="btn btn-primary" disabled>Submit</button>
                    </div>
                </form>
            </div>

            <% } %>

                <script>
                    const password_form = document.getElementById("password-form");
                    const submit = document.getElementById("submit");
                    const myBlogs = document.getElementById("my-blogs");

                    function showForm() {
                        if( password_form.style.display === "none"){
                            password_form.style.display = 'block';
                            myBlogs.style.display = 'none';
                        }
                        else{
                            password_form.style.display = 'none';
                            myBlogs.style.display = 'block';
                        }
                       
                    }

                    const password = document.getElementById("new_password");
                    const confirmPassword = document.getElementById("confirmPassword");
                    const errorMessage = document.getElementById("error-message");

                    function validatePassword() {
                        if (password.value !== "" && confirmPassword.value !== "") {
                            if (password.value === confirmPassword.value) {
                                errorMessage.textContent = "Passwords match!";
                                errorMessage.classList.remove("text-danger");
                                errorMessage.classList.add("text-success");
                                submit.disabled = false

                            } else {
                                errorMessage.textContent = "Passwords do not match!";
                                errorMessage.classList.remove("text-success");
                                errorMessage.classList.add("text-danger");
                                submit.disabled = true

                            }
                        }
                        else {
                            errorMessage.textContent = "";
                            submit.disabled = true
                        }
                    }

                </script>
                <%- include('./partials/script') %>

</body>

</html>