<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>reset password</title>
        <style>
            .form-control {
                height: 3rem;
            }

            .form-control::placeholder {
                color: #f6f6f65d;
            }
        </style>
</head>

<body>
    <% if(locals.error){ %>
        <div class="container mt-4">
            <div class="alert alert-danger" role="alert">
                <%= locals.error %>
            </div>
        </div>
        <% } %>

            <% if(locals.sucess){ %>
                <div class="container mt-4">
                    <div class="alert alert-success" role="alert">
                        <%= locals.sucess %>
                    </div>
                </div>
                <% } %>

                    <div class="container row justify-content-center mt-5">

                        <div class="col-md-6">
                            <div class="card bg-dark">
                                <% if (locals.message==="check otp" ) { %>
                                    <div class="card-header text-light">Check OTP</div>
                                    <div class="card-body">
                                        <form method="post" action="/resetpassword">
                                            <div class="form-group mb-3">
                                                <label for="otp">OTP</label>
                                                <input type="text" class="form-control bg-transparent" id="otp" name="otp"
                                                    placeholder="Enter OTP">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Check</button>
                                        </form>
                                    </div>
                                    <% } %>
                                        <% if (locals.message==="add new" ) { %>
                                    
                                            <div class="card-header text-light">Add New Password</div>
                                            <div class="card-body">
                                                <form method="post" action="/addnewpassword">
                                                    <div class="form-group mb-3">
                                                        <label for="password">password</label>
                                                        <input type="password" class="form-control bg-transparent" id="password"
                                                            name="password" oninput="validatePassword()"
                                                            placeholder="Enter password">
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="confirmPassword">Confirm Password</label>
                                                        <input type="password" class="form-control bg-transparent" id="confirmPassword"
                                                            oninput="validatePassword()" placeholder="Confirm Password">
                                                    </div>
                                                    <input type="hidden" name="email" value="<%= email %>">
                                                    <div id="error-message" class="form-text mb-3"></div>
                                                    <button type="submit" id="submit" class="btn btn-primary" disabled>Change
                                                        Password</button>
                                                </form>
                                            </div>
                                            <% } %>
                            </div>
                        </div>
                    </div>

                    <script>
                        const submit = document.getElementById("submit");
                        const password = document.getElementById("password");
                        const confirmPassword = document.getElementById("confirmPassword");
                        const errorMessage = document.getElementById("error-message");

                        function validatePassword() {
                            if (password.value !== "" && confirmPassword.value !== "") {
                                if (password.value === confirmPassword.value) {
                                    errorMessage.textContent = "Passwords match!";
                                    errorMessage.classList.remove("text-danger");
                                    errorMessage.classList.add("text-success");
                                    submit.disabled = false
                                } else {
                                    errorMessage.textContent = "Passwords do not match!";
                                    errorMessage.classList.remove("text-success");
                                    errorMessage.classList.add("text-danger");
                                    submit.disabled = true
                                }
                            }
                            else {
                                errorMessage.textContent = "";
                                submit.disabled = true
                            }
                        }

                    </script>
                    <%- include('./partials/script') %>
</body>

</html>